## Python library is a collection of functions and methods that allows you to perform lots of actions without writing your own code.Here, a ‘library’ loosely describes a collection of core modules.

![image.png](attachment:66a8d933-c4b3-46ef-8006-6be2fb5c5977.png)

### Data Science and Machine Learning

- Numpy and Scipy – Fundamental Scientific Computing
- Pandas – Data Manipulation and Analysis
- StatsModels – Statistical Modeling, Testing, and Analysis
- Matplotlib – Plotting and Visualization
- Seaborn – For Statistical Data Visualization
- Scikit-learn – Machine Learning and Data Mining
- Keras- Machine learning
- PyTorch- Machine Learning Tensor Flow
- LightGBM- Machine Learning(Model Optimization)
- Tensor Flow - Machine Learning
- Eli5- Machine learning models(Debugging)
- Theano- AI and ML
- NLTK - Natural Language Processing with Python
- SQLAlchemy- Database access

## Web Development Frameworks and GUI
- Tkinter – GUI applications
- Requests – HTTP requests
- Django- Web framework
- Scrapy- Web crawling frameworks
- BeautifulSoup - web crawling and data scraping
- Flask - Micro-web framework

## Others
- Pyspark - Support Python with Spark, Apache Spark community released a tool, PySpark
- TabPy - TabPy (the Tableau Python Server) is an Analytics Extension implementation which expands Tableau’s capabilities by allowing users to execute Python scripts and saved functions via Tableau’s table calculations
- Jython- Jython an implementation of the Python programming language designed to run on the Java platform

In [ ]:
import numpy as np
L1=np.array([1,2,3,4])
L1

array([1, 2, 3, 4])

## scipy.special package contains numerous functions of mathematical physics.
SciPy special function includes Cubic Root, Exponential, Log sum Exponential, Lambert, Permutation and Combinations, Gamma, Bessel, hypergeometric, Kelvin, beta, parabolic cylinder, Relative Error Exponential, etc..

In [ ]:
import scipy.special
import numpy as np
import scipy.stats
x = np.arange(10, 20)
y = np.array([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
result = scipy.stats.linregress(x, y)
print("slope=" ,result.slope)
print("Intercept= ",result.intercept)
#help(scipy.special)

slope= 7.4363636363636365
Intercept=  -85.92727272727274

In [ ]:
import pandas as pd
pd.Series((1,2,34,35))

0     1
1     2
2    34
3    35
dtype: int64

In [ ]:
pd.DataFrame(((1,"A"),(2,"B"),(3,"C")))

   0  1
0  1  A
1  2  B
2  3  C

In [ ]:
chicago_data = pd.read_csv("Chicago.csv")
chicago_data

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,10453948,HZ192829,03/01/2016 12:00:00 AM,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,False,False,...,7.0,46.0,26,1196679.0,1853139.0,2016,02/10/2018 03:50:01 PM,41.751885,-87.554826,"(41.751885152, -87.554825997)"
529,10397129,HZ133234,01/29/2016 03:30:00 PM,006XX W HARRISON ST,5114,NON - CRIMINAL,FOID - REVOCATION,STREET,False,False,...,2.0,28.0,26,1172257.0,1897564.0,2016,02/10/2018 03:50:01 PM,41.874363,-87.643013,"(41.874363279, -87.643013039)"
530,3269495,HJ747227,11/08/2003 04:54:15 PM,012XX W 81ST ST,510,RITUALISM,AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY,OTHER,False,False,...,21.0,71.0,04B,1169648.0,1851076.0,2003,02/28/2018 03:56:25 PM,41.746852,-87.653941,"(41.746852486, -87.653941385)"
531,10840565,JA143710,02/06/2017 01:20:00 PM,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,37.0,23.0,26,1148881.0,1905963.0,2017,02/14/2017 03:49:42 PM,41.897895,-87.728622,"(41.89789489, -87.728622316)"
532,1326195,G021609,01/11/2001 02:30:41 AM,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,True,True,...,NaN,NaN,08B,1196869.0,1847416.0,2001,08/17/2015 03:03:40 PM,41.736176,-87.554320,"(41.73617608, -87.554319607)"

In [ ]:
chicago_data.describe()

,ID,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE
count,5.330000e+02,533.000000,533.000000,490.000000,490.000000,5.290000e+02,5.290000e+02,533.00000,529.000000,529.000000
mean,6.228301e+06,1187.037523,11.195122,22.608163,37.542857,1.162876e+06,1.886223e+06,2008.34334,41.843429,-87.677818
std,3.027454e+06,660.592263,6.496631,13.080119,21.409514,1.650197e+04,3.009980e+04,4.94940,0.082798,0.060073
min,2.114900e+04,111.000000,1.000000,1.000000,1.000000,1.100658e+06,1.814512e+06,2001.00000,41.645796,-87.905227
25%,3.420516e+06,711.000000,6.000000,12.000000,23.000000,1.151715e+06,1.860454e+06,2004.00000,41.772556,-87.718166
50%,6.231712e+06,1111.000000,10.000000,24.000000,30.000000,1.163235e+06,1.891447e+06,2008.00000,41.857737,-87.676733
75%,8.875058e+06,1634.000000,16.000000,32.000000,58.000000,1.174618e+06,1.907711e+06,2012.00000,41.902298,-87.634677
max,1.127717e+07,2535.000000,25.000000,50.000000,77.000000,1.204126e+06,1.951001e+06,2018.00000,42.021178,-87.528223

In [ ]:
chicago_data.isnull().sum()

ID                        0
CASE_NUMBER               0
DATE                      0
BLOCK                     0
IUCR                      0
PRIMARY_TYPE              0
DESCRIPTION               0
LOCATION_DESCRIPTION      0
ARREST                    0
DOMESTIC                  0
BEAT                      0
DISTRICT                  0
WARD                     43
COMMUNITY_AREA_NUMBER    43
FBICODE                   0
X_COORDINATE              4
Y_COORDINATE              4
YEAR                      0
UPDATEDON                 0
LATITUDE                  4
LONGITUDE                 4
LOCATION                  4
dtype: int64

In [ ]:
chicago_data.corr(method ='pearson')

,ID,ARREST,DOMESTIC,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE
ID,1.000000,-0.094995,0.081495,-0.055302,-0.010726,-0.057201,0.090399,-0.039309,-0.057155,0.972463,-0.056845,-0.040447
ARREST,-0.094995,1.000000,-0.082049,-0.030813,-0.033756,0.018220,-0.045469,0.027777,0.020064,-0.086438,0.019917,0.028437
DOMESTIC,0.081495,-0.082049,1.000000,0.003041,-0.018235,0.006576,0.030485,-0.058451,-0.031028,0.091704,-0.030696,-0.059333
BEAT,-0.055302,-0.030813,0.003041,1.000000,0.918369,0.666611,-0.590053,-0.504877,0.692122,-0.064647,0.692559,-0.499126
DISTRICT,-0.010726,-0.033756,-0.018235,0.918369,1.000000,0.728903,-0.584095,-0.573912,0.702122,-0.017637,0.702824,-0.568608
WARD,-0.057201,0.018220,0.006576,0.666611,0.728903,1.000000,-0.576686,-0.485385,0.652533,-0.069799,0.652941,-0.480077
COMMUNITY_AREA_NUMBER,0.090399,-0.045469,0.030485,-0.590053,-0.584095,-0.576686,1.000000,0.267919,-0.796011,0.098330,-0.795208,0.258665
X_COORDINATE,-0.039309,0.027777,-0.058451,-0.504877,-0.573912,-0.485385,0.267919,1.000000,-0.578429,-0.034130,-0.581159,0.999931
Y_COORDINATE,-0.057155,0.020064,-0.031028,0.692122,0.702122,0.652533,-0.796011,-0.578429,1.000000,-0.066666,0.999994,-0.568890
YEAR,0.972463,-0.086438,0.091704,-0.064647,-0.017637,-0.069799,0.098330,-0.034130,-0.066666,1.000000,-0.066354,-0.035363
LATITUDE,-0.056845,0.019917,-0.030696,0.692559,0.702824,0.652941,-0.795208,-0.581159,0.999994,-0.066354,1.000000,-0.571641
LONGITUDE,-0.040447,0.028437,-0.059333,-0.499126,-0.568608,-0.480077,0.258665,0.999931,-0.568890,-0.035363,-0.571641,1.000000

In [ ]:
pip install pandas-profiling

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/pandas-profiling/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/pandas-profiling/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/pandas-profiling/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/pandas-profiling/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/pandas-profiling/
ERROR: Could not find a version that satisfies the requirement pandas-profiling (from versions: none)
ERROR: No matching distribution found for pandas-profiling

In [ ]:
import pandas_profiling as pro
profile = pro.ProfileReport(chicago_data)
profile

ModuleNotFoundError: No module named 'pandas_profiling'

In [ ]:
pip install sweetviz

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/sweetviz/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/sweetviz/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/sweetviz/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/sweetviz/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', OSError(0, 'Error'))': /simple/sweetviz/
ERROR: Could not find a version that satisfies the requirement sweetviz (from versions: none)
ERROR: No matching distribution found for sweetviz

In [ ]:
#pip install sweetviz
import sweetviz as sv
sweet_report = sv.analyze(chicago_data)
sweet_report.show_html('sweet_report.html')

In [ ]:
df1 = sv.compare(chicago_data[0:],chicago_data [:3])
df1.show_html('Compare.html')

In [ ]:
#pip install autoviz
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()

In [ ]:
viz = AV.AutoViz("imdb.csv")

In [ ]:
import matplotlib
%matplotlib inline

In [ ]:
#pip install autoviz