# <font color='white gray'>**panData**</font>
# <font color='white gray'>**Data Analysis Projects with Python Language**</font>
# <font color='white gray'>**Extracting and Analyzing Data from Databases**</font>

## **Python Packages Used in the Project**

The command !pip install -q -U watermark installs or updates the watermark package, a Python extension for adding metadata (like package versions) to Jupyter Notebook outputs.

The watermark package is a Python tool that allows you to add version and runtime information directly into the output of Jupyter Notebook cells. This is helpful for reproducibility, as it lets you track the versions of Python, libraries, or environment configurations used during analysis.

In [1]:
# 1. Install the watermark package
!pip install -q -U watermark

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

This prints the Python version and versions of specified packages like pandas, numpy, and matplotlib

In [2]:
%load_ext watermark
%watermark -v -p pandas,numpy,matplotlib

Python implementation: CPython
Python version       : 3.11.7
IPython version      : 8.20.0

pandas    : 1.5.3
numpy     : 1.26.4
matplotlib: 3.8.0

The command !pip install -q ipython-sql installs the ipython-sql package, which allows you to run SQL queries directly in Jupyter Notebooks or IPython environments. Once installed, you can connect to databases and execute SQL queries using the %sql magic command.

In [3]:
# 2. Install the iPython-sql package
!pip install -q ipython-sql

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///database.db

In [13]:
try:
    # Create a new database
     cursor.execute("CREATE DATABASE new_database_name")

     # Close the connection
     cursor.close()
     conn.close()
except:
    print("database already exist")

database already exist

In [15]:
#connect with mysql  workbench

import mysql.connector

# Connect to the MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="8889"
)

cursor = conn.cursor()

# Create a new database if it doesn't already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS new_database_name")

# Close the connection
cursor.close()
conn.close()

In [22]:
import mysql.connector

# Connect to the MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="8889"
)

cursor = conn.cursor()

# Create a new database if it doesn't already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS new_database_name")
cursor.execute("USE new_database_name")

# Create a new table in the selected database
cursor.execute("CREATE TABLE IF NOT EXISTS new1 (name VARCHAR(20), id INT)")

# Insert data into the table
cursor.execute("INSERT INTO new1 VALUES ('prachi', 2)")

# Commit the transaction to save changes
conn.commit()

# Close the connection
cursor.close()
conn.close()

In [29]:
import pandas as pd
import mysql.connector

# Connect to the MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="8889",
    database="new_database_name"  # Specify the database name
)

# Load the table into a DataFrame
df = pd.read_sql("SELECT * FROM new1", conn)

# Close the connection
conn.close()

print(df)

     name  id
0  prachi   2

C:\Users\prach\AppData\Local\Temp\ipykernel_19852\4119538502.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM new1", conn)

In [30]:
from sqlalchemy import create_engine
import pandas as pd

# Example DataFrame
data = {'name': ['Alice', 'Bob'], 'id': [1, 2]}
df = pd.DataFrame(data)

# Create a connection to the database
engine = create_engine('mysql+mysqlconnector://root:8889@localhost/new_database_name')

# Save the DataFrame to a SQL table
df.to_sql(name='new1', con=engine, if_exists='append', index=False)

print("DataFrame saved to SQL table.")

DataFrame saved to SQL table.

In [4]:
# 3. Imports
import os
import pandas as pd
import sqlite3

https://www.sqlite.org/about.html

In [4]:
# 4. Reload the watermark extension and display author information
%reload_ext watermark
%watermark -a "panData"

Author: panData

## **Creating the Relational Database**

In [5]:
# 5. Create a dataframe with the source data
data = pd.DataFrame({'level': ['Junior', 'Mid-level', 'Senior'],
                      'salary': [7500, 14650, 18320],
                      'position': ['Data Analyst', 'Data Scientist', 'Data Engineer']})

In [6]:
# 6. List the data
data.head()

       level  salary        position
0     Junior    7500    Data Analyst
1  Mid-level   14650  Data Scientist
2     Senior   18320   Data Engineer

In [7]:
# 7. Define the path for the database file
file_path = 'database.db'

In [8]:
# 8. Check if the file exists and delete it if it does, to create a new file later
if os.path.exists(file_path):
    try:
        os.remove(file_path)
        print(f"File {file_path} deleted successfully!")
    except Exception as e:
        print(f"Error deleting the file {file_path}. Details: {e}")
else:
    print(f"File {file_path} not found.")

File database.db deleted successfully!

## **Connecting to the Database with Python Language**

In [27]:
# 9. Create the connection to a SQLite database
cnn = sqlite3.connect('database.db')

In [10]:
# 10. Copy the dataframe into the database as a table
data.to_sql('employees', cnn)

3

In [11]:
# 11. Load the SQL extension
%load_ext sql

In [19]:
# 12. Define the database
%sql sqlite:///database.db

> Now we execute our SQL queries directly using SQL language within the Jupyter Notebook.​⬤

In [13]:
# 13. Execute SQL query to select all data from the employees table
%%sql

SELECT * FROM employees

 * sqlite:///database.db
Done.

[(0, 'Junior', 7500, 'Data Analyst'),
 (1, 'Mid-level', 14650, 'Data Scientist'),
 (2, 'Senior', 18320, 'Data Engineer')]

In [14]:
# 14. Execute SQL query to count the number of records in the employees table
%%sql

SELECT count(*) FROM employees

 * sqlite:///database.db
Done.

[(3,)]

In [15]:
# 15. Execute SQL query to calculate the average salary rounded to 2 decimal places from the employees table
%%sql

SELECT round(avg(salary), 2) as 'average_salary' FROM employees

 * sqlite:///database.db
Done.

[(13490.0,)]



## **Loading the Database from CSV Files**

We have a file with data on patients who developed or did not develop diabetes. Let’s insert the contents of the file into a database.

In [23]:
# 16. Load the dataset
df = pd.read_csv('dataset.csv')

In [24]:
# 17. Check the type of the dataset
type(df)

pandas.core.frame.DataFrame

In [25]:
# 18. Get the shape of the dataset
df.shape

(768, 9)

In [19]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,103,30,38,83,43.3,0.183,33,0
1,1,115,70,30,96,34.6,0.529,32,1
2,3,126,88,41,235,39.3,0.704,27,0
3,8,99,84,0,0,35.4,0.388,50,0
4,7,196,90,0,0,39.8,0.451,41,1

In [28]:
# 19. Copy the dataframe into the database as a table
df.to_sql('diabetes', cnn)

768

In [21]:
# 20. Execute SQL query to count the number of records in the diabetes table
%%sql

SELECT count(*) FROM diabetes

 * sqlite:///database.db
Done.

[(768,)]

## **SQL Syntax and Pandas Syntax**

> Return patients with a BMI greater than 52 and age between 25 and 30 years.

**Pandas Query Syntax:**

In [22]:
# 21. Pandas query using the query method to return patients with BMI greater than 52 and age between 25 and 30
df.query("BMI > 52 and 25 <= Age <= 30")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
120,0,162,76,56,100,53.2,0.759,25,1
125,1,88,30,42,99,55.0,0.496,26,1
177,0,129,110,46,130,67.1,0.319,26,1
303,5,115,98,0,0,52.9,0.209,28,1
445,0,180,78,63,14,59.4,2.420,25,1

**SQL Query Syntax:**

In [23]:
# 22. Execute SQL query to return patients with BMI greater than 52 and age between 25 and 30
%%sql

SELECT * FROM diabetes WHERE BMI > 52 AND Age BETWEEN 25 AND 30

 * sqlite:///database.db
Done.

[(120, 0, 162, 76, 56, 100, 53.2, 0.759, 25, 1),
 (125, 1, 88, 30, 42, 99, 55.0, 0.496, 26, 1),
 (177, 0, 129, 110, 46, 130, 67.1, 0.319, 26, 1),
 (303, 5, 115, 98, 0, 0, 52.9, 0.209, 28, 1),
 (445, 0, 180, 78, 63, 14, 59.4, 2.42, 25, 1)]

## **Answering Business Questions with Data Analysis**

We need to generate a data sample with patients over 50 years old and, for each of them, indicate in a new column whether the patient is normal (BMI less than 30) or obese (BMI greater than or equal to 30). Then we need to generate a new CSV file and forward it to the decision-maker.

**Retorne Age, Glucose e Outcome para pacientes com Glucose maior que 195.**

In [24]:
# 23. Execute SQL query to return Age, Glucose, and Outcome for patients with Glucose greater than 195
%%sql

SELECT Age, Glucose, Outcome FROM diabetes WHERE Glucose > 195

 * sqlite:///database.db
Done.

[(41, 196, 1),
 (53, 197, 1),
 (57, 196, 1),
 (31, 197, 0),
 (29, 196, 1),
 (39, 197, 1),
 (28, 198, 1),
 (62, 197, 1),
 (22, 199, 1)]

In [25]:
# 24. List the columns of the dataframe
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

**Vamos criar uma nova tabela no banco de dados.**

In [26]:
# 25. Create the 'patients' table in the database
%%sql

CREATE TABLE patients (Pregnancies INT,
                       Glucose INT,
                       BloodPressure INT,
                       SkinThickness INT,
                       Insulin INT,
                       BMI DECIMAL(8, 2),
                       DiabetesPedigreeFunction DECIMAL(8, 2),
                       Age INT,
                       Outcome INT);

 * sqlite:///database.db
Done.

[]

**The table is empty.**

In [27]:
# 26. Execute SQL query to select all data from the patients table
%%sql

SELECT * FROM patients

 * sqlite:///database.db
Done.

[]

**Let’s copy the contents from one table to another, but only for patients older than 50 years.​⬤**

In [28]:
# 27. Insert data into the patients table for patients older than 50 years
%%sql

INSERT INTO patients(Pregnancies,
                     Glucose,
                     BloodPressure,
                     SkinThickness,
                     Insulin,
                     BMI,
                     DiabetesPedigreeFunction,
                     Age,
                     Outcome)
SELECT Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome
FROM diabetes WHERE Age > 50;

 * sqlite:///database.db
81 rows affected.

[]

**Return all patients.**

In [29]:
# 28. Execute SQL query to return all data from the patients table
%%sql

SELECT * FROM patients;

 * sqlite:///database.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0),
 (4, 111, 72, 47, 207, 37.1, 1.39, 56, 1),
 (9, 171, 110, 24, 240, 45.4, 0.721, 54, 1),
 (8, 176, 90, 34, 300, 33.7, 0.467, 58, 1),
 (2, 109, 92, 0, 0, 42.7, 0.845, 54, 0),
 (4, 134, 72, 0, 0, 23.8, 0.277, 60, 1),
 (4, 146, 92, 0, 0, 31.2, 0.539, 61, 1),
 (5, 132, 80, 0, 0, 26.8, 0.186, 69, 0),
 (0, 105, 84, 0, 0, 27.9, 0.741, 62, 1),
 (3, 128, 78, 0, 0, 21.1, 0.268, 55, 0),
 (5, 147, 78, 0, 0, 33.7, 0.218, 65, 0),
 (8, 181, 68, 36, 495, 30.1, 0.615, 60, 1),
 (6, 103, 72, 32, 190, 37.7, 0.324, 55, 0),
 (8, 196, 76, 29, 280, 37.5, 0.605, 57, 1),
 (5, 162, 104, 0, 0, 37.7, 0.151, 52, 1),
 (7, 179, 95, 31, 0, 34.2, 0.164, 60, 0),
 (2, 158, 90, 0, 0, 31.6, 0.805, 66, 1),
 (7, 142, 60, 33, 190, 28.8, 0.687, 61, 0),
 (7, 181, 84, 21, 192, 35.9, 0.586, 51, 1),
 (11, 155, 76, 28, 150, 33.3, 1.353, 51, 1),
 (3, 142, 80, 15, 0, 32.4, 0.2, 63, 0),
 (13, 106, 70, 0, 0, 34.2, 0.251, 52, 0),
 (5, 114, 74, 0, 0, 24.9, 0.744, 57, 0),
 (2, 108, 80, 0, 0, 27, 0.259, 52, 1),
 (7, 136, 74, 26, 135, 26, 0.647, 51, 0),
 (0, 161, 50, 0, 0, 21.9, 0.254, 65, 0),
 (8, 112, 72, 0, 0, 23.6, 0.84, 58, 0),
 (6, 194, 78, 0, 0, 23.5, 0.129, 59, 1),
 (8, 95, 72, 0, 0, 36.8, 0.485, 57, 0),
 (5, 158, 70, 0, 0, 29.8, 0.207, 63, 0),
 (5, 103, 108, 37, 0, 39.2, 0.305, 65, 0),
 (4, 146, 78, 0, 0, 38.5, 0.52, 67, 1),
 (12, 140, 82, 43, 325, 39.2, 0.528, 58, 1),
 (5, 144, 82, 26, 285, 32, 0.452, 58, 1),
 (6, 137, 61, 0, 0, 24.2, 0.151, 55, 0),
 (2, 119, 0, 0, 0, 19.6, 0.832, 72, 0),
 (1, 135, 54, 0, 0, 26.7, 0.687, 62, 0),
 (10, 148, 84, 48, 237, 37.6, 1.001, 51, 1),
 (9, 134, 74, 33, 60, 25.9, 0.46, 81, 0),
 (0, 137, 84, 27, 0, 27.3, 0.231, 59, 0),
 (4, 132, 86, 31, 0, 28, 0.419, 63, 0),
 (0, 173, 78, 32, 265, 46.5, 1.159, 58, 0),
 (8, 194, 80, 0, 0, 26.1, 0.551, 67, 0),
 (6, 166, 74, 0, 0, 26.6, 0.304, 66, 0),
 (7, 195, 70, 33, 145, 25.1, 0.163, 55, 1),
 (8, 120, 78, 0, 0, 25, 0.409, 64, 0),
 (9, 91, 68, 0, 0, 24.2, 0.2, 58, 0),
 (9, 145, 88, 34, 165, 30.3, 0.771, 53, 1),
 (7, 125, 86, 0, 0, 37.6, 0.304, 51, 0),
 (6, 129, 90, 7, 326, 19.6, 0.582, 60, 0),
 (0, 57, 60, 0, 0, 21.7, 0.735, 67, 0),
 (10, 90, 85, 32, 0, 34.9, 0.825, 56, 1),
 (5, 187, 76, 27, 207, 43.6, 1.034, 53, 1),
 (6, 114, 88, 0, 0, 27.8, 0.247, 66, 0),
 (8, 110, 76, 0, 0, 27.8, 0.237, 58, 0),
 (6, 125, 76, 0, 0, 33.8, 0.121, 54, 1),
 (2, 197, 70, 99, 0, 34.7, 0.575, 62, 1),
 (12, 121, 78, 17, 0, 26.5, 0.259, 62, 0),
 (8, 124, 76, 24, 600, 28.7, 0.687, 52, 1),
 (3, 176, 86, 27, 156, 33.3, 1.154, 52, 1),
 (7, 150, 78, 29, 126, 35.2, 0.692, 54, 1),
 (11, 127, 106, 0, 0, 39, 0.19, 51, 0),
 (10, 162, 84, 0, 0, 27.7, 0.182, 54, 0),
 (4, 145, 82, 18, 0, 32.5, 0.235, 70, 1),
 (8, 91, 82, 0, 0, 35.6, 0.587, 68, 0),
 (9, 156, 86, 0, 0, 24.8, 0.23, 53, 1),
 (5, 136, 82, 0, 0, 0, 0.64, 69, 0),
 (1, 168, 88, 29, 0, 35, 0.905, 52, 1),
 (10, 94, 72, 18, 0, 23.1, 0.595, 56, 0),
 (5, 97, 76, 27, 0, 35.6, 0.378, 52, 1),
 (2, 105, 75, 0, 0, 23.3, 0.56, 53, 0),
 (0, 123, 72, 0, 0, 36.3, 0.258, 52, 1),
 (6, 190, 92, 0, 0, 35.5, 0.278, 66, 1),
 (10, 101, 76, 48, 180, 32.9, 0.171, 63, 0)]

**Let’s alter the table and add a new column.**

In [30]:
# 29. Alter the patients table to add a new column
%%sql

ALTER TABLE patients
ADD Profile VARCHAR(10);

 * sqlite:///database.db
Done.

[]

**Column created.**

In [31]:
# 30. Execute SQL query to return all data from the patients table
%%sql

SELECT * FROM patients;

 * sqlite:///database.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, None),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, None),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, None),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, None),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, None),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1, None),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0, None),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0, None),
 (4, 111, 72, 47, 207, 37.1, 1.39, 56, 1, None),
 (9, 171, 110, 24, 240, 45.4, 0.721, 54, 1, None),
 (8, 176, 90, 34, 300, 33.7, 0.467, 58, 1, None),
 (2, 109, 92, 0, 0, 42.7, 0.845, 54, 0, None),
 (4, 134, 72, 0, 0, 23.8, 0.277, 60, 1, None),
 (4, 146, 92, 0, 0, 31.2, 0.539, 61, 1, None),
 (5, 132, 80, 0, 0, 26.8, 0.186, 69, 0, None),
 (0, 105, 84, 0, 0, 27.9, 0.741, 62, 1, None),
 (3, 128, 78, 0, 0, 21.1, 0.268, 55, 0, None),
 (5, 147, 78, 0, 0, 33.7, 0.218, 65, 0, None),
 (8, 181, 68, 36, 495, 30.1, 0.615, 60, 1, None),
 (6, 103, 72, 32, 190, 37.7, 0.324, 55, 0, None),
 (8, 196, 76, 29, 280, 37.5, 0.605, 57, 1, None),
 (5, 162, 104, 0, 0, 37.7, 0.151, 52, 1, None),
 (7, 179, 95, 31, 0, 34.2, 0.164, 60, 0, None),
 (2, 158, 90, 0, 0, 31.6, 0.805, 66, 1, None),
 (7, 142, 60, 33, 190, 28.8, 0.687, 61, 0, None),
 (7, 181, 84, 21, 192, 35.9, 0.586, 51, 1, None),
 (11, 155, 76, 28, 150, 33.3, 1.353, 51, 1, None),
 (3, 142, 80, 15, 0, 32.4, 0.2, 63, 0, None),
 (13, 106, 70, 0, 0, 34.2, 0.251, 52, 0, None),
 (5, 114, 74, 0, 0, 24.9, 0.744, 57, 0, None),
 (2, 108, 80, 0, 0, 27, 0.259, 52, 1, None),
 (7, 136, 74, 26, 135, 26, 0.647, 51, 0, None),
 (0, 161, 50, 0, 0, 21.9, 0.254, 65, 0, None),
 (8, 112, 72, 0, 0, 23.6, 0.84, 58, 0, None),
 (6, 194, 78, 0, 0, 23.5, 0.129, 59, 1, None),
 (8, 95, 72, 0, 0, 36.8, 0.485, 57, 0, None),
 (5, 158, 70, 0, 0, 29.8, 0.207, 63, 0, None),
 (5, 103, 108, 37, 0, 39.2, 0.305, 65, 0, None),
 (4, 146, 78, 0, 0, 38.5, 0.52, 67, 1, None),
 (12, 140, 82, 43, 325, 39.2, 0.528, 58, 1, None),
 (5, 144, 82, 26, 285, 32, 0.452, 58, 1, None),
 (6, 137, 61, 0, 0, 24.2, 0.151, 55, 0, None),
 (2, 119, 0, 0, 0, 19.6, 0.832, 72, 0, None),
 (1, 135, 54, 0, 0, 26.7, 0.687, 62, 0, None),
 (10, 148, 84, 48, 237, 37.6, 1.001, 51, 1, None),
 (9, 134, 74, 33, 60, 25.9, 0.46, 81, 0, None),
 (0, 137, 84, 27, 0, 27.3, 0.231, 59, 0, None),
 (4, 132, 86, 31, 0, 28, 0.419, 63, 0, None),
 (0, 173, 78, 32, 265, 46.5, 1.159, 58, 0, None),
 (8, 194, 80, 0, 0, 26.1, 0.551, 67, 0, None),
 (6, 166, 74, 0, 0, 26.6, 0.304, 66, 0, None),
 (7, 195, 70, 33, 145, 25.1, 0.163, 55, 1, None),
 (8, 120, 78, 0, 0, 25, 0.409, 64, 0, None),
 (9, 91, 68, 0, 0, 24.2, 0.2, 58, 0, None),
 (9, 145, 88, 34, 165, 30.3, 0.771, 53, 1, None),
 (7, 125, 86, 0, 0, 37.6, 0.304, 51, 0, None),
 (6, 129, 90, 7, 326, 19.6, 0.582, 60, 0, None),
 (0, 57, 60, 0, 0, 21.7, 0.735, 67, 0, None),
 (10, 90, 85, 32, 0, 34.9, 0.825, 56, 1, None),
 (5, 187, 76, 27, 207, 43.6, 1.034, 53, 1, None),
 (6, 114, 88, 0, 0, 27.8, 0.247, 66, 0, None),
 (8, 110, 76, 0, 0, 27.8, 0.237, 58, 0, None),
 (6, 125, 76, 0, 0, 33.8, 0.121, 54, 1, None),
 (2, 197, 70, 99, 0, 34.7, 0.575, 62, 1, None),
 (12, 121, 78, 17, 0, 26.5, 0.259, 62, 0, None),
 (8, 124, 76, 24, 600, 28.7, 0.687, 52, 1, None),
 (3, 176, 86, 27, 156, 33.3, 1.154, 52, 1, None),
 (7, 150, 78, 29, 126, 35.2, 0.692, 54, 1, None),
 (11, 127, 106, 0, 0, 39, 0.19, 51, 0, None),
 (10, 162, 84, 0, 0, 27.7, 0.182, 54, 0, None),
 (4, 145, 82, 18, 0, 32.5, 0.235, 70, 1, None),
 (8, 91, 82, 0, 0, 35.6, 0.587, 68, 0, None),
 (9, 156, 86, 0, 0, 24.8, 0.23, 53, 1, None),
 (5, 136, 82, 0, 0, 0, 0.64, 69, 0, None),
 (1, 168, 88, 29, 0, 35, 0.905, 52, 1, None),
 (10, 94, 72, 18, 0, 23.1, 0.595, 56, 0, None),
 (5, 97, 76, 27, 0, 35.6, 0.378, 52, 1, None),
 (2, 105, 75, 0, 0, 23.3, 0.56, 53, 0, None),
 (0, 123, 72, 0, 0, 36.3, 0.258, 52, 1, None),
 (6, 190, 92, 0, 0, 35.5, 0.278, 66, 1, None),
 (10, 101, 76, 48, 180, 32.9, 0.171, 63, 0, None)]

**Now let’s update the column with the value “Normal” if the BMI is less than 30.**

In [32]:
# 31. Update the Profile column with "Normal" where BMI is less than 30
%%sql

UPDATE patients
SET Profile = 'Normal'
WHERE BMI < 30;

 * sqlite:///database.db
38 rows affected.

[]

**Let’s check the result:**

In [33]:
# 32. Execute SQL query to return all data from the patients table
%%sql

SELECT * FROM patients;

 * sqlite:///database.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, None),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, 'Normal'),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, 'Normal'),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, None),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, 'Normal'),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1, None),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0, 'Normal'),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0, None),
 (4, 111, 72, 47, 207, 37.1, 1.39, 56, 1, None),
 (9, 171, 110, 24, 240, 45.4, 0.721, 54, 1, None),
 (8, 176, 90, 34, 300, 33.7, 0.467, 58, 1, None),
 (2, 109, 92, 0, 0, 42.7, 0.845, 54, 0, None),
 (4, 134, 72, 0, 0, 23.8, 0.277, 60, 1, 'Normal'),
 (4, 146, 92, 0, 0, 31.2, 0.539, 61, 1, None),
 (5, 132, 80, 0, 0, 26.8, 0.186, 69, 0, 'Normal'),
 (0, 105, 84, 0, 0, 27.9, 0.741, 62, 1, 'Normal'),
 (3, 128, 78, 0, 0, 21.1, 0.268, 55, 0, 'Normal'),
 (5, 147, 78, 0, 0, 33.7, 0.218, 65, 0, None),
 (8, 181, 68, 36, 495, 30.1, 0.615, 60, 1, None),
 (6, 103, 72, 32, 190, 37.7, 0.324, 55, 0, None),
 (8, 196, 76, 29, 280, 37.5, 0.605, 57, 1, None),
 (5, 162, 104, 0, 0, 37.7, 0.151, 52, 1, None),
 (7, 179, 95, 31, 0, 34.2, 0.164, 60, 0, None),
 (2, 158, 90, 0, 0, 31.6, 0.805, 66, 1, None),
 (7, 142, 60, 33, 190, 28.8, 0.687, 61, 0, 'Normal'),
 (7, 181, 84, 21, 192, 35.9, 0.586, 51, 1, None),
 (11, 155, 76, 28, 150, 33.3, 1.353, 51, 1, None),
 (3, 142, 80, 15, 0, 32.4, 0.2, 63, 0, None),
 (13, 106, 70, 0, 0, 34.2, 0.251, 52, 0, None),
 (5, 114, 74, 0, 0, 24.9, 0.744, 57, 0, 'Normal'),
 (2, 108, 80, 0, 0, 27, 0.259, 52, 1, 'Normal'),
 (7, 136, 74, 26, 135, 26, 0.647, 51, 0, 'Normal'),
 (0, 161, 50, 0, 0, 21.9, 0.254, 65, 0, 'Normal'),
 (8, 112, 72, 0, 0, 23.6, 0.84, 58, 0, 'Normal'),
 (6, 194, 78, 0, 0, 23.5, 0.129, 59, 1, 'Normal'),
 (8, 95, 72, 0, 0, 36.8, 0.485, 57, 0, None),
 (5, 158, 70, 0, 0, 29.8, 0.207, 63, 0, 'Normal'),
 (5, 103, 108, 37, 0, 39.2, 0.305, 65, 0, None),
 (4, 146, 78, 0, 0, 38.5, 0.52, 67, 1, None),
 (12, 140, 82, 43, 325, 39.2, 0.528, 58, 1, None),
 (5, 144, 82, 26, 285, 32, 0.452, 58, 1, None),
 (6, 137, 61, 0, 0, 24.2, 0.151, 55, 0, 'Normal'),
 (2, 119, 0, 0, 0, 19.6, 0.832, 72, 0, 'Normal'),
 (1, 135, 54, 0, 0, 26.7, 0.687, 62, 0, 'Normal'),
 (10, 148, 84, 48, 237, 37.6, 1.001, 51, 1, None),
 (9, 134, 74, 33, 60, 25.9, 0.46, 81, 0, 'Normal'),
 (0, 137, 84, 27, 0, 27.3, 0.231, 59, 0, 'Normal'),
 (4, 132, 86, 31, 0, 28, 0.419, 63, 0, 'Normal'),
 (0, 173, 78, 32, 265, 46.5, 1.159, 58, 0, None),
 (8, 194, 80, 0, 0, 26.1, 0.551, 67, 0, 'Normal'),
 (6, 166, 74, 0, 0, 26.6, 0.304, 66, 0, 'Normal'),
 (7, 195, 70, 33, 145, 25.1, 0.163, 55, 1, 'Normal'),
 (8, 120, 78, 0, 0, 25, 0.409, 64, 0, 'Normal'),
 (9, 91, 68, 0, 0, 24.2, 0.2, 58, 0, 'Normal'),
 (9, 145, 88, 34, 165, 30.3, 0.771, 53, 1, None),
 (7, 125, 86, 0, 0, 37.6, 0.304, 51, 0, None),
 (6, 129, 90, 7, 326, 19.6, 0.582, 60, 0, 'Normal'),
 (0, 57, 60, 0, 0, 21.7, 0.735, 67, 0, 'Normal'),
 (10, 90, 85, 32, 0, 34.9, 0.825, 56, 1, None),
 (5, 187, 76, 27, 207, 43.6, 1.034, 53, 1, None),
 (6, 114, 88, 0, 0, 27.8, 0.247, 66, 0, 'Normal'),
 (8, 110, 76, 0, 0, 27.8, 0.237, 58, 0, 'Normal'),
 (6, 125, 76, 0, 0, 33.8, 0.121, 54, 1, None),
 (2, 197, 70, 99, 0, 34.7, 0.575, 62, 1, None),
 (12, 121, 78, 17, 0, 26.5, 0.259, 62, 0, 'Normal'),
 (8, 124, 76, 24, 600, 28.7, 0.687, 52, 1, 'Normal'),
 (3, 176, 86, 27, 156, 33.3, 1.154, 52, 1, None),
 (7, 150, 78, 29, 126, 35.2, 0.692, 54, 1, None),
 (11, 127, 106, 0, 0, 39, 0.19, 51, 0, None),
 (10, 162, 84, 0, 0, 27.7, 0.182, 54, 0, 'Normal'),
 (4, 145, 82, 18, 0, 32.5, 0.235, 70, 1, None),
 (8, 91, 82, 0, 0, 35.6, 0.587, 68, 0, None),
 (9, 156, 86, 0, 0, 24.8, 0.23, 53, 1, 'Normal'),
 (5, 136, 82, 0, 0, 0, 0.64, 69, 0, 'Normal'),
 (1, 168, 88, 29, 0, 35, 0.905, 52, 1, None),
 (10, 94, 72, 18, 0, 23.1, 0.595, 56, 0, 'Normal'),
 (5, 97, 76, 27, 0, 35.6, 0.378, 52, 1, None),
 (2, 105, 75, 0, 0, 23.3, 0.56, 53, 0, 'Normal'),
 (0, 123, 72, 0, 0, 36.3, 0.258, 52, 1, None),
 (6, 190, 92, 0, 0, 35.5, 0.278, 66, 1, None),
 (10, 101, 76, 48, 180, 32.9, 0.171, 63, 0, None)]

**Now let’s update the column with the value “Obese” if the BMI is greater than or equal to 30.​**

In [34]:
# 33. Update the Profile column with "Obese" where BMI is greater than or equal to 30
%%sql

UPDATE patients
SET Profile = 'Obese'
WHERE BMI >= 30;

 * sqlite:///database.db
43 rows affected.

[]

**Let’s check the result:**

In [35]:
# 34. Execute SQL query to return all data from the patients table
%%sql

SELECT * FROM patients;

 * sqlite:///database.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, 'Obese'),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, 'Normal'),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, 'Normal'),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, 'Obese'),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, 'Normal'),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1, 'Obese'),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0, 'Normal'),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0, 'Obese'),
 (4, 111, 72, 47, 207, 37.1, 1.39, 56, 1, 'Obese'),
 (9, 171, 110, 24, 240, 45.4, 0.721, 54, 1, 'Obese'),
 (8, 176, 90, 34, 300, 33.7, 0.467, 58, 1, 'Obese'),
 (2, 109, 92, 0, 0, 42.7, 0.845, 54, 0, 'Obese'),
 (4, 134, 72, 0, 0, 23.8, 0.277, 60, 1, 'Normal'),
 (4, 146, 92, 0, 0, 31.2, 0.539, 61, 1, 'Obese'),
 (5, 132, 80, 0, 0, 26.8, 0.186, 69, 0, 'Normal'),
 (0, 105, 84, 0, 0, 27.9, 0.741, 62, 1, 'Normal'),
 (3, 128, 78, 0, 0, 21.1, 0.268, 55, 0, 'Normal'),
 (5, 147, 78, 0, 0, 33.7, 0.218, 65, 0, 'Obese'),
 (8, 181, 68, 36, 495, 30.1, 0.615, 60, 1, 'Obese'),
 (6, 103, 72, 32, 190, 37.7, 0.324, 55, 0, 'Obese'),
 (8, 196, 76, 29, 280, 37.5, 0.605, 57, 1, 'Obese'),
 (5, 162, 104, 0, 0, 37.7, 0.151, 52, 1, 'Obese'),
 (7, 179, 95, 31, 0, 34.2, 0.164, 60, 0, 'Obese'),
 (2, 158, 90, 0, 0, 31.6, 0.805, 66, 1, 'Obese'),
 (7, 142, 60, 33, 190, 28.8, 0.687, 61, 0, 'Normal'),
 (7, 181, 84, 21, 192, 35.9, 0.586, 51, 1, 'Obese'),
 (11, 155, 76, 28, 150, 33.3, 1.353, 51, 1, 'Obese'),
 (3, 142, 80, 15, 0, 32.4, 0.2, 63, 0, 'Obese'),
 (13, 106, 70, 0, 0, 34.2, 0.251, 52, 0, 'Obese'),
 (5, 114, 74, 0, 0, 24.9, 0.744, 57, 0, 'Normal'),
 (2, 108, 80, 0, 0, 27, 0.259, 52, 1, 'Normal'),
 (7, 136, 74, 26, 135, 26, 0.647, 51, 0, 'Normal'),
 (0, 161, 50, 0, 0, 21.9, 0.254, 65, 0, 'Normal'),
 (8, 112, 72, 0, 0, 23.6, 0.84, 58, 0, 'Normal'),
 (6, 194, 78, 0, 0, 23.5, 0.129, 59, 1, 'Normal'),
 (8, 95, 72, 0, 0, 36.8, 0.485, 57, 0, 'Obese'),
 (5, 158, 70, 0, 0, 29.8, 0.207, 63, 0, 'Normal'),
 (5, 103, 108, 37, 0, 39.2, 0.305, 65, 0, 'Obese'),
 (4, 146, 78, 0, 0, 38.5, 0.52, 67, 1, 'Obese'),
 (12, 140, 82, 43, 325, 39.2, 0.528, 58, 1, 'Obese'),
 (5, 144, 82, 26, 285, 32, 0.452, 58, 1, 'Obese'),
 (6, 137, 61, 0, 0, 24.2, 0.151, 55, 0, 'Normal'),
 (2, 119, 0, 0, 0, 19.6, 0.832, 72, 0, 'Normal'),
 (1, 135, 54, 0, 0, 26.7, 0.687, 62, 0, 'Normal'),
 (10, 148, 84, 48, 237, 37.6, 1.001, 51, 1, 'Obese'),
 (9, 134, 74, 33, 60, 25.9, 0.46, 81, 0, 'Normal'),
 (0, 137, 84, 27, 0, 27.3, 0.231, 59, 0, 'Normal'),
 (4, 132, 86, 31, 0, 28, 0.419, 63, 0, 'Normal'),
 (0, 173, 78, 32, 265, 46.5, 1.159, 58, 0, 'Obese'),
 (8, 194, 80, 0, 0, 26.1, 0.551, 67, 0, 'Normal'),
 (6, 166, 74, 0, 0, 26.6, 0.304, 66, 0, 'Normal'),
 (7, 195, 70, 33, 145, 25.1, 0.163, 55, 1, 'Normal'),
 (8, 120, 78, 0, 0, 25, 0.409, 64, 0, 'Normal'),
 (9, 91, 68, 0, 0, 24.2, 0.2, 58, 0, 'Normal'),
 (9, 145, 88, 34, 165, 30.3, 0.771, 53, 1, 'Obese'),
 (7, 125, 86, 0, 0, 37.6, 0.304, 51, 0, 'Obese'),
 (6, 129, 90, 7, 326, 19.6, 0.582, 60, 0, 'Normal'),
 (0, 57, 60, 0, 0, 21.7, 0.735, 67, 0, 'Normal'),
 (10, 90, 85, 32, 0, 34.9, 0.825, 56, 1, 'Obese'),
 (5, 187, 76, 27, 207, 43.6, 1.034, 53, 1, 'Obese'),
 (6, 114, 88, 0, 0, 27.8, 0.247, 66, 0, 'Normal'),
 (8, 110, 76, 0, 0, 27.8, 0.237, 58, 0, 'Normal'),
 (6, 125, 76, 0, 0, 33.8, 0.121, 54, 1, 'Obese'),
 (2, 197, 70, 99, 0, 34.7, 0.575, 62, 1, 'Obese'),
 (12, 121, 78, 17, 0, 26.5, 0.259, 62, 0, 'Normal'),
 (8, 124, 76, 24, 600, 28.7, 0.687, 52, 1, 'Normal'),
 (3, 176, 86, 27, 156, 33.3, 1.154, 52, 1, 'Obese'),
 (7, 150, 78, 29, 126, 35.2, 0.692, 54, 1, 'Obese'),
 (11, 127, 106, 0, 0, 39, 0.19, 51, 0, 'Obese'),
 (10, 162, 84, 0, 0, 27.7, 0.182, 54, 0, 'Normal'),
 (4, 145, 82, 18, 0, 32.5, 0.235, 70, 1, 'Obese'),
 (8, 91, 82, 0, 0, 35.6, 0.587, 68, 0, 'Obese'),
 (9, 156, 86, 0, 0, 24.8, 0.23, 53, 1, 'Normal'),
 (5, 136, 82, 0, 0, 0, 0.64, 69, 0, 'Normal'),
 (1, 168, 88, 29, 0, 35, 0.905, 52, 1, 'Obese'),
 (10, 94, 72, 18, 0, 23.1, 0.595, 56, 0, 'Normal'),
 (5, 97, 76, 27, 0, 35.6, 0.378, 52, 1, 'Obese'),
 (2, 105, 75, 0, 0, 23.3, 0.56, 53, 0, 'Normal'),
 (0, 123, 72, 0, 0, 36.3, 0.258, 52, 1, 'Obese'),
 (6, 190, 92, 0, 0, 35.5, 0.278, 66, 1, 'Obese'),
 (10, 101, 76, 48, 180, 32.9, 0.171, 63, 0, 'Obese')]

## **Returning the Data to Pandas and Saving the CSV**

In [36]:
# 35. Query
query_result = cnn.execute("SELECT * FROM patients")

In [37]:
query_result

In [38]:
# 36. List comprehension to return the table metadata (column names)
cols = [column[0] for column in query_result.description]

In [39]:
cols

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome',
 'Profile']

In [40]:
# 37. Generate the dataframe
result = pd.DataFrame.from_records(data=query_result.fetchall(), columns=cols)

In [41]:
# 38. Shape
result.shape

(81, 10)

In [43]:
# 39. Visualize
result.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Profile
0,2,197,70,45,543,30.5,0.158,53,1,Obese
1,8,125,96,0,0,0.0,0.232,54,1,Normal
2,10,139,80,0,0,27.1,1.441,57,0,Normal
3,1,189,60,23,846,30.1,0.398,59,1,Obese
4,5,166,72,19,175,25.8,0.587,51,1,Normal

In [44]:
# 40. Save to CSV
result.to_csv('result.csv', index=False)

In [45]:
%reload_ext watermark
%watermark -a "panData"

Author: panData

In [46]:
%watermark

Last updated: 2024-10-18T09:56:29.271440+00:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 7.34.0

Compiler    : GCC 11.4.0
OS          : Linux
Release     : 6.1.85+
Machine     : x86_64
Processor   : x86_64
CPU cores   : 2
Architecture: 64bit

In [48]:
%watermark --iversions

sqlite3: 2.6.0
pandas : 2.2.2

# **The End**